body {
    margin: 0;
    color: white;
}

header {
    background-image: url(img/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.card1 {
    background-color: #222222;
    margin: 0;
    padding: 40px;
    width: 100%;
    display: flex;
}

.foglal {
    font-weight: bold;
}

.bal1 {
    text-align: right;
    width: 40%;
    padding: 10px;
}

.jobb1 {
    text-align: left;
    width: 60%;
    padding: 10px;
}

.jobb1szin {
    color: #cbcbcb;
}

.card1 p{
    width: 70%;
}

.card1 a {
    color: #acacac;
    text-decoration: none
}

.card2 {
    width: 100%;
    margin: 0;
    background-color: #101010;
    text-align: center;
    padding: 40px;
}

.card2 ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
    list-style-type:none;
    padding: 0;
}

.card2 li {
    border: 1px solid white;
    margin: 20px;
    padding: 10px 50px;
}

.card2 p {
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(203, 203, 203);
}

.card3 {
    padding-top: 50px;
    margin: 0;
    background-color: #222222;
    text-align: center;
}

.card3alcim {
    color: #a9a9a9;
}

.card4 {
    padding-top: 50px;
    margin: 0;
    background-color: #101010;
    display: flex;
    justify-content: center;
}

.card4keret {
    display: flex;
    justify-content: center;
    width: 60%; 
}

.card4foglal {
    width: 35%;
}

.card4foglal p{
    color: rgb(203, 203, 203);
}

.card4 a {
    color: white;
    font-weight: bold;
}

.szeretet{
    text-align: right;
    width: 20%;
}

.nyitvatartas {
    padding:  0px 50px;
    width: 60%;
}
.nyitvatartas p {
    margin: 0px;
    color: rgb(203, 203, 203);
}

.nyitvatartas hr {
    margin: 5px;
}

.nyitvatartas h4 {
    margin-bottom: 40px;
}

.navbar {
    padding: 30px 20px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

#keret {
    width: 100%;
    margin: 0;
}

.kepek {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 25px;
}
 
.baloszlop {
    margin: 0;
    width: auto;
    padding: 20px;
    flex-direction: column;
}
 
.sor {
    display: flex;
    height: auto;
    gap: 35px;
}
 
.nagykep {
    width: 510px;
}

.kiskep {
    width: 235px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
 
.jobboszlop {
    margin: 0;
    width: auto;
    padding-top: 10px 
}
 
.magaskep {
    height: 420px;
    width: 250px;
    object-fit: cover;
    object-position: center;
}
 
.kicsikep {
    width: 250px;
    height: 175px;
    object-fit: cover;
    object-position: center;
}
 
.szoveg {
    position: relative;
    top: -15px;
    left:  50%;
    transform: translate(-50%, -50%);
    font-size: small;
}
 
footer {
    background-color: #101010;
    margin: 0;
    padding: 40px 175px;
    width: 100%;
    text-align: center;
    color: rgb(203, 203, 203);
}

footer hr {
    margin: 20px 20%;
}

footer p {font-size: small;}

.footerala {
    text-decoration: underline;
}

.focim {
    font-family: sans-serif;
}

.card2alcim {
    color: #a9a9a9;
    text-decoration: none;
}

.slabo-27px-regular {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.szoveg {
    font-style: italic;
}
  

@media only screen and (max-width: 600px) {
    .bal1, .jobb1{
        width: 100%;
    }
    .card1 {
        display: block;
    }
    .card1 p {
        width: 100%;
    }
    .card2 ul {
        display: block;
    }
    .card4keret {
        display: block;
    }
    .szeretet {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nyitvatartas {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .card4foglal {
        width: 100%;
        margin: 0;
        padding: 25px 0px;
    }
}

@media only screen and (max-width: 991px) {
    .slash {
        display: none;
    }
    .card1 p{
        width: 100%;
    }
    .card2 p {
        margin: 0;
    }
    .card4keret {
        width: 80%;
    }
}

@media only screen and (max-width:867px) {
    .jobboszlop,.baloszlop {
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 826px) {
    .kepek {
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 0;
        width: auto;
    }
    .baloszlop{
        flex-direction: column;
    }
    .jobboszlop{
        padding: 0px;
    }
    .sor {
        flex-direction: column;
        gap: 0;
    }
    .kepek img {
        width: 90%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .kepek .magaskep {
        height: 500px;
    }
    .kepek .kicsikep {
        height: 250px;
    }
}